// https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$theme-primary: mat.m2-define-palette(mat.$m2-blue-palette, 800);
$theme-accent: mat.m2-define-palette(mat.$m2-yellow-palette, 700);

// The warn palette is optional (defaults to red).
$theme-warn: mat.m2-define-palette(mat.$m2-red-palette, 600);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

// $theme: mat.m2-define-light-theme(
//   (
//     color: (
//       primary: $theme-primary,
//       accent: $theme-accent,
//       warn: $theme-warn
//     ),
//     typography: mat.m2-define-typography-config(
//       $font-family: '"Inter", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif',
//       $headline-1: mat.m2-define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
//       $headline-2: mat.m2-define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
//       $headline-3: mat.m2-define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
//       $headline-4: mat.m2-define-typography-level(34px, 40px, 400),
//       $headline-5: mat.m2-define-typography-level(24px, 32px, 500),
//       $headline-6: mat.m2-define-typography-level(20px, 32px, 600),
//     ),
//     density: 0
//   )
// );

$theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn
    ),
    typography: mat.m2-define-typography-config(),
    density: 0
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);
